* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #4a799e;
}

.logo {
  width: fit-content;
  display: inline-block;
  margin: 10px 0 20px 30px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 5px;
  cursor: default;
  background: #fff;
}

.logo__icon {
  font-size: 20px;
}

.logo__text {
  font-size: 24px;
}

#buttons {
  width: fit-content;
  float: right;
  margin: 15px 40px 20px 0;
}

.buttons button, .customers-detailed__add-field {
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.buttons button:hover, .customers-detailed__add-field:hover {
  background: #fff;
}

.customers-detailed__add-field {
  border-color: rgb(36, 147, 175) !important;
  background: rgb(36, 147, 175);
  margin-top: 15px;
}

.customers-detailed__add-field:hover {
  border: 1px solid rgb(36, 147, 175);
  color: rgb(36, 147, 175);
}

.buttons__add {
  border-color: rgb(36, 175, 106) !important;
  background: rgb(36, 175, 106);
}

.buttons__add:hover {
  border: 1px solid rgb(36, 175, 106);
  color: rgb(36, 175, 106);
}

.buttons__edit:disabled {
  background: rgb(170, 170, 170);
  color: #fff;
  border: 1px solid #fff0 !important;
}

.buttons__delete:disabled {
  background: rgb(170, 170, 170);
  color: #fff;
  border: 1px solid #fff0 !important;
}

.buttons__edit:disabled:hover {
  background: rgb(170, 170, 170);
  color: #fff;
  border: 1px solid #fff0 !important;
}

.buttons__delete:disabled:hover {
  background: rgb(170, 170, 170);
  color: #fff;
  border: 1px solid #fff0 !important;
}

.buttons__delete {
  border-color: rgb(219, 62, 96) !important;
  background: rgb(219, 62, 96);
}

.buttons__delete:hover {
  border: 1px solid rgb(219, 62, 96);
  color: rgb(219, 62, 96);
}

.buttons__edit {
  border-color: rgb(222, 235, 48) !important;
  background: rgb(222, 235, 48);
}

.buttons__edit:hover {
  border: 1px solid rgb(222, 235, 48);
  color: rgb(222, 235, 48);
}

.main {
  padding-top: 70px;
  background: #b8cad829;
  display: flex;
  justify-content: space-between;
}

.customers-table {
  width: 100%;
  margin: 20px;
  text-align: center;
}

.customers-table__table {
  width: 100%;
  border-collapse: collapse;
}

.customers-table__table th,
td {
  height: 30px;
  border-bottom: 1px solid rgb(200, 197, 197);
  padding: 5px;
}

.customers-table__table tbody > tr {
  cursor: pointer;
}

.customers-table__table tbody > tr:hover {
  background: #4a799e26;
}

.customers-table__table_checkbox {
}

.customers-detailed {
  width: 660px;
  height: fit-content;
  font-size: 14px;
  padding: 15px;
}

.customers-detailed h3 {
  margin-bottom: 5px;
  font-weight: 600;
  text-align: center;
}

.customers-detailed__info {
  margin-top: 10px;
}

.info__attribute {
  display: flex;
  justify-content: space-between;
}

.info__attribute_key {
  width: 60%;
  color: #9a9a9a;
}

.info__attribute_value {
  width: 100%;
}

.has-debt {
  background: #f96e6e;
}

.has-debt:hover {
  background: #f8b3b3 !important;
}

.footer {
  width: 100%;
  background: #212529;
  color: #495057;
}

.about {
  padding: 20px;
  width: 40%;
}

.contacts {
  padding: 20px 20px 40px;
}

.section-header {
  text-align: center;
  color: #ced4da;
  font-weight: 500;
  margin-bottom: 10px;
}

.contacts__contact {
  padding: 10px;
  text-align: center;
  width: 200px;
}

.contacts__contact_name {
  color: #999fa5;
}

.contacts__contact_position {
}

.logos {
  margin-top: -20px;
  margin-bottom: 20px;
}

.section-content {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.logos__logo {
  padding: 20px;
}

.logos__logo_img {
  width: 100px;
  height: 35px;
}

.row {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
