.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: #8c8d94;
}

.logo {
  width: fit-content;
  display: inline-block;
  margin: 20px 0 20px 30px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 5px;
  cursor: default;
  background: #fff;
}

.logo__icon {
  font-size: 20px;
}

.logo__text {
  font-size: 24px;
}

.buttons {
  width: fit-content;
  float: right;
  margin: 20px 40px 20px 0;
}

.buttons button {
  border: 1px solid;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.buttons button:hover {
  background: #fff;    
}

.buttons__add {
  border-color: rgb(36, 175, 106) !important;
  background: rgb(36, 175, 106);
}

.buttons__add:hover {
  border: 1px solid rgb(36, 175, 106);
  color: rgb(36, 175, 106);
}

.buttons_delete {
  border-color: rgb(219, 62, 96) !important;
  background: rgb(219, 62, 96);
}

.buttons_delete:hover {
  border: 1px solid rgb(219, 62, 96);
  color: rgb(219, 62, 96);
}

.buttons__edit {
  border-color: rgb(222, 235, 48) !important;
  background: rgb(222, 235, 48);
}

.buttons__edit:hover {
  border: 1px solid rgb(222, 235, 48);
  color: rgb(222, 235, 48);
}
